<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <div class="middle">
                                    <button class="btn btn-secondary" (click)="file.click()" *ngIf="!optionUpload()" > Alterar</button>
                                    <button class="btn btn-secondary" (click)="uploadImagem()" *ngIf="optionUpload()" > Salvar</button>
                                    <input type="file" #file (change)="onFileChange($event, $event.target.files)" accept=".png, .jpg, .jpeg" placeholder="" style="display: none">
                                </div>
                                <img [src]="imageURL" class="img-thumbnail" (click)="file.click()" id="imgProfile" style="cursor: pointer; width: 150px; height: 150px"
                                alt="Card image cap" />
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{user.userName}}</h2>
                                <h6>Agência: 0000-1</h6>
                                <h6>Conta Corrente: {{user.numAccount | mask: '000000-00'}}</h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card profile-card-4">
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 ml-2 mt-3 col-5">
                                        <label style="font-weight:bold;">Nome Completo:</label>
                                    </div>
                                    <div class="col-md-8 mt-3 col-6">{{user.fullName}}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 ml-2 col-5">
                                        <label style="font-weight:bold;">CPF:</label>
                                    </div>
                                    <div class="col-md-8 col-6">{{user.cpf | mask: '000.000.000-00' }}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 ml-2 col-5">
                                        <label style="font-weight:bold;">Email:</label>
                                    </div>
                                    <div class="col-md-8 col-6">{{user.email}}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 ml-2 col-5">
                                        <label style="font-weight:bold;">Telefone:</label>
                                    </div>
                                    <div class="col-md-8 col-6">{{user.phoneNumber | mask: '(00) 00000-0000'}}</div>    
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 ml-2 col-5">
                                        <label style="font-weight:bold;">Endereço:</label>
                                    </div>
                                    <div class="col-md-8 mb-4 col-6">{{user.address}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4" style="justify-content: center;">
                        <div class="col-sm-3 col-md-2 ml-2 col-5">
                            <button class="btn btn-ln btn-success btn-block" routerLink="home" ><i class="fas fa-undo-alt"></i>&nbsp;Voltar</button>
                        </div>
                        <div class="col-sm-3 col-md-2 ml-2 col-5">
                            <button class="btn btn-ln btn-primary btn-block" (click)="editUser(user,template)"><i class="fas fa-edit"></i>&nbsp;Editar Perfil</button>
                        </div>
                        <div class="col-sm-3 col-md-2 ml-2 col-5">
                            <button class="btn btn-ln btn-warning btn-block" (click)="editPassword(change)" ><i class="fas fa-edit"></i>&nbsp;Alterar Senha</button>
                        </div>
                        <div class="col-sm-3 col-md-2 ml-2 col-5">
                            <button class="btn btn-ln btn-danger btn-block" (click)="deleteUser(user,confirm)" ><i class="fas fa-trash-alt"></i>&nbsp;Excluir Conta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL Editar perfil-->
<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" style="margin-left: 10px;"><i class="fas fa-user-edit"></i> Editar Perfil</h4>
                <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup] = "editForm">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="">Usuário:</label>
                            <input class="form-control" type="text" formControlName="userName"
                                [ngClass]="{'is-invalid': editForm.get('userName').errors && editForm.get('userName').touched}"
                                placeholder="Insira o Nome de Usuário"/>
                            <div *ngIf="editForm.get('userName').hasError('required') && editForm.get('userName').touched"
                                class="invalid-feedback">Usuário é obrigatório.
                            </div>
                        </div>               
                        <div class="form-group col-md-7">
                            <label for="">Nome Completo:</label>
                            <input type="text" class="form-control" formControlName="fullName"
                            [ngClass]="{'is-invalid': editForm.get('fullName').errors && editForm.get('fullName').touched }"
                                placeholder="Insira o Nome Completo"/>
                            <div *ngIf="editForm.get('fullName').hasError('required') && editForm.get('fullName').touched"
                                class="invalid-feedback">Nome Completo é obrigatório.
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="">CPF:</label>
                            <input type="text" mask="000.000.000-00" class="form-control" formControlName="cpf"
                            [ngClass]="{'is-invalid': editForm.get('cpf').errors && editForm.get('cpf').touched }"
                              placeholder="Insira o seu CPF"/>
                            <div *ngIf="editForm.get('cpf').hasError('required') && editForm.get('cpf').touched"
                              class="invalid-feedback">CPF é obrigatório.
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <label for="">Email:</label>
                            <input class="form-control" type="text" formControlName="email"
                                [ngClass]="{ 'is-invalid': editForm.get('email').errors && editForm.get('email').touched}"
                                placeholder="Insira o Email"/>
                            <div *ngIf="editForm.get('email').hasError('required') && editForm.get('email').touched"
                                class="invalid-feedback">E-mail é obrigatório.
                            </div>
                            <div *ngIf = "editForm.get('email').hasError('email') && editForm.get('email').touched" 
                                class="invalid-feedback">E-mail inválido.
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label>Telefone</label>
                            <input type="text" mask="(00) 00000-0000" class="form-control" [ngClass]="{'is-invalid': editForm.get('phoneNumber').errors 
                            && editForm.get('phoneNumber').touched}" formControlName="phoneNumber" placeholder="(00) 00000-0000">
                            <div *ngIf="editForm.get('phoneNumber').hasError('required') && editForm.get('phoneNumber').touched" 
                              class="invalid-feedback">Telefone é obrigatório.
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <label for="">Endereço:</label>
                            <input type="text" class="form-control" formControlName="address"
                            [ngClass]="{'is-invalid': editForm.get('address').errors && editForm.get('address').touched }"
                              placeholder="Insira o seu Endereço"/>
                            <div *ngIf="editForm.get('address').hasError('required') && editForm.get('address').touched"
                              class="invalid-feedback">Endereço é obrigatório.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex">
                <button class="btn btn-success" (click)="saveEdit(template)" [disabled]="!editForm.valid"><i class="fas fa-save"></i> &nbsp;Salvar</button>
                <button class="btn btn-danger ml-auto" (click)="template.hide()"><i class="fas fa-window-close"></i>&nbsp;Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL Alterar senha-->
<div bsModal #change="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-lg">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left" style="margin-left: 10px;"><i class="fas fa-key"></i> <i class="fas fa-user-edit"></i> Alterar Senha</h4>
      			<button type="button" class="close pull-right" (click)="change.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
            </div>
            <div class="modal-body">
                <form [formGroup] = "passwordForm">
                    <div class="form-row mb-5 ml-4" formGroupName="passwords">
                        <div class="form-group col-md-5 ml-4">
                          <label for="">Senha:</label>
                          <input class="form-control" type="password" formControlName="password"
                            [ngClass]="{ 'is-invalid': passwordForm.get('passwords.password').errors && passwordForm.get('passwords.password').touched}"
                            placeholder="Digite uma Senha" />
                            <div *ngIf="passwordForm.get('passwords.password').hasError('minlength') && passwordForm.get('passwords.password').touched"
                              class="invalid-feedback">Deve conter no mínimo 4 caracters
                            </div>
                          <div *ngIf="passwordForm.get('passwords.password').hasError('required') && passwordForm.get('passwords.password').touched"
                            class="invalid-feedback">Senha é obrigatório.
                          </div>
                        </div>
                        <div class="form-group col-md-5 ml-4">
                          <label for="">Confirmar Senha:</label>
                          <input class="form-control" type="password" formControlName="confirmPassword"
                            [ngClass]="{ 'is-invalid': passwordForm.get('passwords.confirmPassword').errors 
                                        && passwordForm.get('passwords.confirmPassword').touched 
                                        || passwordForm.get('passwords.confirmPassword').hasError('mismatch') 
                                        && passwordForm.get('passwords.confirmPassword').touched }"
                            placeholder="Confirme a Senha" />
                          <div *ngIf="passwordForm.get('passwords.confirmPassword').hasError('required') && passwordForm.get('passwords.confirmPassword').touched"
                            class="invalid-feedback">Confirme a Senha.
                          </div>
                          <div *ngIf="passwordForm.get('passwords.confirmPassword').hasError('mismatch') && passwordForm.get('passwords.confirmPassword').touched"
                            class="invalid-feedback">Confirmação não é valida
                          </div>
                        </div>
                      </div>                    
                </form>
            </div> 
            <div class="modal-footer d-flex">
                <button class="btn btn-success" (click)="savePassword(change)" [disabled]="!passwordForm.valid"><i class="fas fa-save"></i> &nbsp;Salvar</button>
                <button class="btn btn-danger ml-auto" (click)="change.hide()"><i class="fas fa-window-close"></i>&nbsp;Cancelar</button>
            </div>
        </div>
	</div>
</div>


<!--MODAL Delete-->
<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left" style="margin-left: 10px;"><i class="fas fa-user-times"></i> Excluir Conta</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>Tem certeza que deseja excluir sua conta no WeBank?</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button class="btn btn-success" (click)="confirm.hide()"><i class="fas fa-window-close"></i>&nbsp;Cancelar</button>
      			<button class="btn btn-danger" (click)="confirmDelete(confirm)"><i class="fas fa-check"></i> &nbsp;Confirmar</button>
    		</div>
  		</div>
	</div>
</div>