<div class="container mt-4">
  <div class="row mbr-justify-content-center">

    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <i class="mbr-iconfont fas fa-file-invoice-dollar"></i>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Conta Corrente</h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Visualize seu saldo atual e o extrato das suas transações bancarias.</p>
            </div>
          </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <i class="mbr-iconfont fas fa-piggy-bank"></i>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Guardar Dinheiro </h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Nós podemos te ajudar a guardar dinheiro e obter segurança financeira.</p>
              </div>
            </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <i class="mbr-iconfont fas fa-donate"></i>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Depósito</h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Realize depósitos e tenha o dinheiro em sua conta de forma extremamente rápida.</p>
              </div>
            </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <i class="mbr-iconfont fas fa-exchange-alt"></i>
              </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Transfêrencia</h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Realize transfêrencias 24 horas por dia para contas no WeBank.</p>
            </div>
          </a>
    </div>
</div>