<div class="container mt-4">
 <h1> Refatorar depósito criando componente depósito</h1>
  <div class="row mbr-justify-content-center">
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <i class="mbr-iconfont fas fa-file-invoice-dollar"></i>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Conta Corrente</h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Visualize seu saldo atual e o extrato das suas transações bancarias.</p>
            </div>
          </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <i class="mbr-iconfont fas fa-piggy-bank"></i>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Guardar Dinheiro </h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Nós podemos te ajudar a guardar dinheiro e obter segurança financeira.</p>
              </div>
            </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a (click)="openDeposit(deposit)" style="cursor: pointer;" class="wrap">
            <div class="ico-wrap">
                <i class="mbr-iconfont fas fa-donate"></i>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Depósito</h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Realize depósitos e tenha o dinheiro em sua conta de forma extremamente rápida.</p>
              </div>
            </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <i class="mbr-iconfont fas fa-exchange-alt"></i>
              </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Transfêrencia</h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Realize transfêrencias 24 horas por dia para contas no WeBank.</p>
            </div>
          </a>
    </div>
</div>

<!--MODAL Deposito-->
<div bsModal #deposit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left"><i class="fas fa-donate"></i> Realizar Depósito</h4>
      			<button type="button" class="close pull-right" (click)="deposit.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
            </div>
            <div class="modal-body ml-4">
                <form class="ml-4" [formGroup] = "depositForm">
                    <div class="form-row ml-4">
                        <div class="form-group col-md-8 ml-4">
                            <label for="">Valor do Depósito:</label>
                            <input type="text" currencyMask [options] = "{ prefix: 'R$ ', thousands: '.' , decimal: ',' , align: 'left' }"  class="form-control" formControlName="value"
                            [ngClass]="{'is-invalid': depositForm.get('value').errors && depositForm.get('value').touched }"
                                placeholder="Insira o seu Endereço"/>
                            <div *ngIf="depositForm.get('value').hasError('required') && depositForm.get('value').touched"
                                class="invalid-feedback"> Valor é obrigatório.
                            </div>
                        </div>    
                    </div>                    
                </form>
            </div> 
            <div class="modal-footer btn-group d-flex">
                <button class="btn btn-success" (click)="confirmDeposit(deposit)" [disabled]="!depositForm.valid"><i class="fas fa-donate"></i>&nbsp;Depositar</button>
                <button class="btn btn-danger" (click)="deposit.hide()"><i class="fas fa-window-close"></i>&nbsp;Cancelar</button>
            </div>
        </div>
	</div>
</div>
